# Base de Datos
POSTGRES_USER=homeassistant
POSTGRES_PASSWORD=mi_password_seguro
POSTGRES_DB=home_assistant_db
DATABASE_URL=postgres://homeassistant:mi_password_seguro@postgres:5432/home_assistant_db

# MQTT Broker
MQTT_HOST=localhost
MQTT_PORT=1883
MQTT_USER=mqtt_user
MQTT_PASSWORD=mqtt_password

# Backend
PORT=3000

# Timezone
TZ=Europe/Andorra
